<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <span class="navbar-brand mb-0 h1">UF 3D Printing</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item2">
                <a class="nav-link" routerLink="/">Job List </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/request">Request a Print </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>