<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/detailed-info.css" type="text/css">

    <title>Job #: XXXX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        <header>
            <h1>Job #: XXXX</h1>
        </header>
        <hr>
        <div class="row">
            <div class="col">
                <h3>Client Information</h3>
                <div class="jumbotron">
                    <ul class="list-group">
                        <li class="list-group-item">Name: </li>
                        <li class="list-group-item">Email: </li>
                        <li class="list-group-item">Phone: </li>
                        <li class="list-group-item">Other fields idk</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <h3>Job Status Information</h3>
                <div class="jumbotron">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger">Job Status: PENDING PAYMENT</li>
                        <li class="list-group-item">Last Updated: </li>
                        <li class="list-group-item">Pricing Information</li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Files<span><button type="button" class="btn btn-primary">Download All</button></span></h3>
        <hr>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="./example.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Submitted File Name Goes Here</h5>
                            <p class="card-text">Either put the information here or show it via the button below (remove
                                button if doing it the first way)</p>
                            <a href="#" class="btn btn-primary">Info</a>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="./example.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Submitted File Name Goes Here</h5>
                            <p class="card-text">Either put the information here or show it via the button below (remove
                                button if doing it the first way)</p>
                            <a href="#" class="btn btn-primary">Info</a>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="./example.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Submitted File Name Goes Here</h5>
                            <p class="card-text">Either put the information here or show it via the button below (remove
                                button if doing it the first way)</p>
                            <a href="#" class="btn btn-primary">Info</a>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="./example.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Submitted File Name Goes Here</h5>
                            <p class="card-text">Either put the information here or show it via the button below (remove
                                button if doing it the first way)</p>
                            <a href="#" class="btn btn-primary">Info</a>
                            <a href="#" class="btn btn-primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
        <h3>Notes</h3>
        <hr>
        <div class="container">
            <p>Store any other additional information here, this part can be removed if not needed</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>