<div class="container">
    <h1 class="pt-3">Job #: {{jobId}} </h1>
    <hr>
    <div class="row">
        <div class="col">
            <h3>Client Information</h3>
            <div class="jumbotron">
                <ul class="list-group" *ngIf="job">
                    <li class="list-group-item"><b>Entry Date:</b> {{job.entryDate | cdate}}</li>
                    <li class="list-group-item"><b>Name:</b> {{job.name}}</li>
                    <li class="list-group-item"><b>Email:</b> {{job.email}}</li>
                    <li class="list-group-item"><b>Phone:</b> {{job.phone}}</li>
                    <li class="list-group-item" *ngIf="job.affiliation">
                        <b>Affiliation:</b> {{job.affiliation.kind}}
                        <br>
                        <a class="pl-3"><b>Major:</b> {{job.affiliation.major}}</a>
                        <br>
                        <a class="pl-3"><b>Department:</b> {{job.affiliation.department}}</a>
                        <br>
                        <a class="pl-3" *ngIf="job.affiliation.course"><b>Course:</b> {{job.affiliation.coursecode}}</a>
                    </li>
                    <li class="list-group-item" *ngIf="job.makerLoc"><b>Pickup Location:</b> {{job.makerLoc}}</li>
                    <li class="list-group-item" *ngIf="!job.makerLoc"><b>Preferred Location:</b> {{job.locationPref}}</li>
                    <li class="list-group-item"><b>Can be used for publicity?</b> {{job.publicity ? 'Yes' : 'No'}}</li>
                </ul>
            </div>
        </div>
        <div class="col">
            <h3>Job Status Information</h3>
            <div class="jumbotron">
                <ul class="list-group" *ngIf="job">
                    <li class="list-group-item {{job.status | status:'l'}}">Job Status: {{job.status | status:'p'}}</li>
                    <li class="list-group-item"><b>Last Updated:</b> {{job.updateDate | cdate}}</li>
                    <li class="list-group-item"><b>Pricing Information:</b> <a class="{{job.cost ? '' : 'text-danger'}}">{{job.cost ? ' $' + job.cost : ' No price set'}}</a></li>
                    <li class="list-group-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><b>Staff Name:</b></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Staffer" value="{{job.staffName}}">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><b>Staff Notes:</b> </span>
                            </div>
                            <textarea class="form-control" aria-label="With textarea">{{job.staffNotes}}</textarea>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="col-3">Files</h3>
        <div class="col-7"></div>
        <span class="col-2">
            <button type="button" class="btn btn-primary align-right" href="#">Download All</button>
        </span>
    </div>
    <hr>

    <div class="container">
        <div class="row" *ngIf="files">
            <div class="col" *ngFor="let file of files">
                <div class="card" style="width:450px">
                    <div class="card-body">
                        <div class="card-title row">
                            <h5 class="col-8">{{file.name}} <a class="text-secondary">({{file.dimensions.x}}mm x {{file.dimensions.y}}mm x {{file.dimensions.z}}mm)</a></h5>
                            <div class="col-4">
                                <a href="#" class="btn btn-primary">Download</a>
                            </div>
                        </div>
                        <img src="{{file.img}}" class="card-img-top" alt="...">
                        <div class="card-text">
                            <ul class="list-group" *ngIf="file">
                                <li class="list-group-item"><b>Quantity:</b> {{file.quantity}}</li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <b class="col-md-4 col-lg-2 pr-0">Color:</b>
                                        <div class="{{color}} col-1 mr-1" style="width:25px;height:25px;border-radius:8px;display:inline-block;" title="{{color}}" *ngFor="let color of file.color">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item"><b>Details:</b> {{file.extra}}</li>
                                <li class="list-group-item"><b>Weight:</b> {{file.weight}} g</li>
                                <li class="list-group-item"><b>Print Time:</b> {{file.printTime}} minutes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3 pb-5" *ngIf="job">
        <h3>Notes</h3>
        <hr>
        <div class="container">
            <p>{{job.notes}}</p>
        </div>
    </div>
</div>